{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block body %}

  <div class="jumbotron p-5 text-black rounded bg-info" style="height:560px ">
    <div class="col-md-6 px-0" style="margin:95px">
      <h1 class="display-4 " style="font-size:90px">About Us!</h1>
      <p class="lead my-3" style="">QuickTrips was established in 2021. After more than 3 years in business, QuickTrips is ready to meet your expectations with our fully renewed fleet of vehicles.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> {% endcomment %}
      
    </div>
  </div>
  <div class="p-3 mb-2  text-info" id="123">
    <div class="row m-5" >
        <div class="container fluid px-0"><h1 class="my-3 text-center">Why Choose Us?</h1></div>
        <div class="col-xl-4">
          <div class="container fluid px-0" >
            {%load static%}
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ-WR1PLuyjICzoOm0CrHjy8k3vuyYeDzIwQ&usqp=CAU" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Safe</h2>
          <p style="font-size:20px; text-align:center">
            The most reliable platform globally for vehicle rental services. Our fleet consists of meticulously maintained vehicles in excellent condition. Regular servicing is conducted every two weeks to ensure optimal performance.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container" >
            {%load static%}
            <img src = "https://t3.ftcdn.net/jpg/04/27/25/44/360_F_427254478_c2j5mHWCS0ONStEbfjWN8kfgBoNocU25.jpg" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2 " style=" text-align:center">Affordable Prices</h2>
          <p style="font-size:20px ; text-align:center">All the rent are in affordable prices. If there is a problem in the vehicle, there is a return back policy. Payment can be made online safely. </p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-xl-4">
          <div class="container-center" >
            {%load static%}
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTf-XbWma2of8ooqt-IV-ZE24ZXgep4r29YZg&usqp=CAU" width="300" height="300"  style=" background-color: white;border-radius: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-left:60px" >
          </div>
          <h2 class="hd my-2" style=" text-align:center">Safety First</h2>
          <p style="font-size:20px ; text-align:center">Safety is our foremost concern, guiding every decision and action we take. We prioritize creating an environment where everyone feels secure, supported, and protected at all times. </p>
        </div><!-- /.col-lg-4 -->
    </div>
    </div> 
{% endblock body %}